<p id="notice"><%= notice %></p>

<h1>Appointmentts</h1>

<table>
  <thead>
    <tr>
      <th>Visit</th>
      <th>Physician</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
    
  </thead>

  <tbody>
    <% @appointmentts.each do |appointmentt| %>
      <tr>
        <td><%= appointmentt.visit.to_datetime.to_formatted_s :long_ordinal %></td>
        <td><%= appointmentt.physician.name %></td>
        <td><%= appointmentt.patient.name %></td>
        <td><%= link_to 'Show', appointmentt %></td>
        <td><%= link_to 'Edit', edit_appointmentt_path(appointmentt) %></td>
        <td><%= link_to 'Destroy', appointmentt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointmentt', new_appointmentt_path %>
